/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background: rgb(219, 219, 219);
}

.container{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

/* Side menubar section */


/* Main Body Section */
.main-body{
  width: 100%;
  padding: 1rem;
  text-align: center;
  justify-content: center;
}
.promo_card{
  width: 100%;
  color: #fff;
  margin-top: 10px;
  border-radius: 8px;
  padding: 0.5rem 1rem 1rem 3rem;
  background: rgb(37, 37, 37);
}

.promo_card h1, .promo_card span, button{
  margin: 10px;
}
.promo_card button{
  display: block;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.card_Projects,.card_Courses,.card_Paper{
  display: inline-block;
  width:400px;
  /* max-width: 500px; */
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
  margin:15px;

}
.heading{
  position: relative;
  right: 10px;
  margin-top: 25px;
}

label {
  padding-left: 2px;
  font-weight: bold;
  margin-bottom: 5px;
  color: black;
}
.card1{
  display: flex;
  flex-direction: column;
}
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  /* margin: 15px; */
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #ddd;
  color: black;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* #Pub{
  margin-top: 15px;
} */
